.btn-auth {
    padding: 8px 16px;
    background-color: #AF8260;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: white; 
    border-radius: 4px; 
}