.folder input {
  width: 100%;
}

.Welcome-brief {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url('../img/welcome-brief.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  filter: brightness(0.5);
}

.welcome-message {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}
.message {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

nav {
  background-color: #af8260;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.btn-add-note,
.btn-start-recording,
.btn-import-notes {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-add-note img,
.btn-start-recording img,
.btn-import-notes img {
  width: 50px;
  height: auto;
  margin-bottom: 5px;
}

h4 {
  margin: 0;
  font-size: 12px;
}

.nav-item {
  background-color: #af8260;
  padding: 10px;
  height: 150px;
  width: 100px;
  border-radius: 10px;
}

.main {
  display: flex;
}

.folders-section {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  padding: 20px;
}

.folder-list {
  margin-top: 20px;
}

.folder-title {
  color: black;
}

.delete-btn {
  color: black;
  background-color: transparent;
}
.notes-section {
  width: 70%;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.note {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.note:hover {
  background-color: #f9f9f9;
}

.note h4 {
  margin: 0;
  font-size: 16px;
  flex: 1;
}
