

.about {
    background-image:  linear-gradient(#000, #E4C59E);
    padding: 50px 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    }
.mission {
    
    padding: 150px 5%;
    justify-content: center;
    padding-inline: space-between;

}

.mission h1{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.mission h3{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.mission p{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.mission button{
justify-content: center;
align-items: center;
display: flex;
margin: 0 auto;
padding: 10px 20px;
background-color: AF8260;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;

}

.about-img {
    width: 70%;
    height: 100%;
    padding: 150px 5%;
    
}  

.about-img img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 120px 20px 120px 20px;
    display: inline;
}

.recording-header {
    padding: 100px 0;
    justify-content: right;
    display: flex;
    flex-direction: row;
}

.generate-now {
    background-color: #AF8260;
    padding: 50px 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.recording-container {
    padding: 50px 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}


